In [1]:
import csv

In [2]:
%precision 2

'%.2f'

In [3]:
data = 'data oley'

In [5]:
import datetime as dt
import time as tm

In [6]:
tm.time()

1598344956.62

In [9]:
dtnow = dt.datetime.today()

In [10]:
dtnow

datetime.datetime(2020, 8, 25, 11, 43, 20, 221113)

In [13]:
today = dt.datetime.today()

In [14]:
today

datetime.datetime(2020, 8, 25, 11, 44, 2, 943551)

In [15]:
class Person:
    department ='Scool of information'

    def set_name(self,new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [23]:
Person.set_name(2)

TypeError: set_name() missing 1 required positional argument: 'new_name'

In [31]:
class Calculator:
    
    def set_sum(x,y):
        return x+y
    
    def set_mul(x,y):
        return x*y

In [29]:
Calculator.set_sum(3,5)

8

In [32]:
Calculator.set_mul(1,5)

5

In [51]:
a = [1,2,8]
b = [3,4,5]
cheap=map(min,a,b)

In [52]:
cheap

In [53]:
for item in cheap:
    print(item)

1
2
5

In [44]:
people = ['Dr Osman Huseyin','Dr Ali Ibo']

def adjustment(person):
    a=person.split()[0]
    b=person.split()[-1]
    return '{}. {}'.format(a,b)

In [48]:
len(people)

2

In [54]:
myfunc = lambda a,b,c: a+b

In [56]:
myfunc(3,5,5)

8

In [66]:
my_list=[]

for i in range(0,100):
    if i*i > 1500:
        my_list.append(i)

In [67]:
my_list

[39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [74]:
my_list2 = [i for i in range(0,100) if  i %2 ==0]

In [75]:
my_list2

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [76]:
import numpy as np

In [78]:
np.array([1,23])

array([ 1, 23])