In [2]:
import numexpr as ne

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [11]:
data = pd.DataFrame(np.random.rand(40).reshape(10,4),columns=['A','B','C','D'])

In [14]:
data.query('A>0.5')

          A         B         C         D
0  0.875046  0.568342  0.924155  0.224904
2  0.798552  0.227942  0.094009  0.452456
5  0.579936  0.247685  0.408810  0.702118
7  0.509962  0.924980  0.892199  0.538890
8  0.945908  0.449787  0.364618  0.626756

In [15]:
import seaborn as sns

In [19]:
print(sns.__version__)

0.10.1

In [20]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\can21\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: scipy>=1.0.1 in c:\users\can21\anaconda3\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in c:\users\can21\anaconda3\lib\site-packages (from seaborn) (1.0.5)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\can21\anaconda3\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\can21\anaconda3\lib\site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\can21\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\can21\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\can21\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn) (1.15.0)

In [21]:
sns.__version__

'0.10.1'

In [22]:
!pip install seaborn==0.11.0

Collecting seaborn==0.11.0
  Downloading seaborn-0.11.0-py3-none-any.whl (283 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\can21\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.18.5)
Requirement already satisfied: scipy>=1.0 in c:\users\can21\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\can21\anaconda3\lib\site-packages (from seaborn==0.11.0) (3.2.2)
Requirement already satisfied: pandas>=0.23 in c:\users\can21\anaconda3\lib\site-packages (from seaborn==0.11.0) (1.0.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\can21\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\can21\anaconda3\lib\site-packages (from pandas>=0.23->seaborn==0.11.0) (2020.1)
Requirement already satisfied: six in c:\users\can21\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn==0.11.0) (1.15.0)
Installing collected packages: seaborn
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.10.1
    Uninstalling seaborn-0.10.1:
      Successfully uninstalled seaborn-0.10.1
Successfully installed seaborn-0.11.0

In [23]:
planets = sns.load_dataset('planets')

In [24]:
planets.shape

(1035, 6)

In [25]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009